body {
  overflow-x: hidden;
  overflow-y: scroll;
  background: #eef;
}
.Explanation {
  padding: 10px;
  font-size: 15pt;
  text-align: center;
}
.Explanation code {
  color: #09cdda;
}
.Stream {
  position: relative;
  width: 33%;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#left {
  float: left;
  left: 0;
}
#middle {
  margin: 0 auto;
}
#middle video {
  display: none;
}
#right {
  float: right;
}
.Line {
  z-index: 5;
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 240px;
  border-right: 1px solid red;
}
.SnapshotContainer {
  position: relative;
  width: 320px;
  height: 240px;
}
.Snapshot {
  position: relative;
}
.Snapshot .Button {
  position: absolute;
  padding: 2px 4px;
  width: 16px;
  height: 16px;
  font-family: sans-serif;
}
.Snapshot img {
  width: 320px;
  height: 240px;
}
.Button:hover {
  cursor: pointer;
}
.CloseButton {
  top: 0;
  left: 0;
  color: red;
  min-width: 80px;
  font-weight: bold;
  text-align: left;
}
.CloseButton:after {
  content: "Remove";
  display: none;
  font-weight: normal;
}
.CloseButton:hover:after {
  display: block;
  position: absolute;
  top: 4px;
  left: 20px;
}

.SaveButton {
  top: 0;
  right: 0;
  min-width: 90px;
  text-decoration: none;
  text-align: right;
  color: gold;
}
.SaveButton:after {
  content: "Download";
  display: none;
}
.SaveButton:hover:after {
  display: block;
  position: absolute;
  top: 4px;
  right: 20px;
}
.PlayButton {
  position: absolute;
  left: 50%;
  top: 160px;
  z-index: 10;
  border: 1px solid black;
  border-radius: 4px;
  width: 32px;
  height: 32px;
  font-size: 32px;
  line-height: 32px;
  margin-left: -16px;
  margin-right: -16px;
  padding: 0;
  text-align: center;
}
canvas {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
  background: black;
}
.Github {
  z-index: 1;
  position: fixed;
  top: 40px;
  right: -60px;
  transform: rotate(45deg);
  padding: 4px 50px;
  background: gold;
  border: 1px solid white;
  line-height: 24px;
  font-family: monospace;
}
